.container{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    border: solid;
    border-radius: 16px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.display{
    border: solid;
    border-color: grey;
    height: 50%;
    width: 80%;
}

.buttons{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    border-top: solid;
}

.button{
    display: flex;
    height: 20%;
    width: 100%;
}

.row{
    width: 25%;
    font-size:2em;
}

#c{
    border-width: 1px;
    border-bottom-left-radius: 12px;
}

#plus{
    border-width: 1px;
    border-bottom-right-radius: 12px;
}

.display{
    font-size: 3em;
}